.mis-empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #242424; /* Color de fondo */
}

.mis-empresas h1 {
  color: #ffffff; /* Color de texto blanco para contraste */
}

.mis-empresas table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.mis-empresas th,
.mis-empresas td {
  border: 1px solid transparent;
  padding: 8px;
  color: #ffffff; /* Color de texto blanco para contraste */
}

.mis-empresas tr:nth-child(even) {
  background-color: #2d2d2d; /* Color de las filas pares, un poco más claro que el fondo */
}

.mis-empresas tr:nth-child(odd) {
  background-color: #1e1e1e; /* Color de las filas impares, un poco más oscuro que el fondo */
}

.mis-empresas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
}

.eliminar {
  width: 100px;
  height: 25px;
  background-color: #dc3545;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.eliminar:hover {
  background-color: #c82333;
}
